**/.git
**/.gitignore

**/.dockerignore

**/__pycache__
**/.ruff_cache
**/.venv
**/.pytest_cache

*.pyc
*.pyo
*.pyd

**/tests/

**/vendor/
**/node_modules/
**/storage/
**/.vite/
**/dist/
**/public/build/
